.apply-head-img{
    width: 100%;
    display: block;
}
.apply-tit{
    color: #078e8c;
    text-align: center;
}
.apply-tit2{
    text-align: center;
}
.apply-tit2-1{
    color: #c21c18;
}
.apply-tit2-2{
    color: #6b6a6d;
}
.apply-tit3{
    color: #7c797b;
    text-align: center;
}
.apply-tit4{
    color: #7e7e80;
}
.timeline-title{
    color: #7a7a7a;
}
.timeline-num{
    border-color: #fcc200;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 50%;
    transition: all 0.6s;
}
.timeline-num:hover{
    background-color: #fcc200;
    color: #fff;
}
.timeline-txts{
    border-left: 1px solid #e5e5e5;
    color: #0d0d0d;
}
.timeline-txt-red{
    color: #c50014;
}
@media only screen and (min-width: 1024px) {
    .apply-head{
        height: 600px;
        overflow: hidden;
    }
    .apply-main{
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }
    .apply-tit{
        font-size: 40px;
        margin-top: 60px;
        margin-bottom: 15px;
    }
    .apply-tit2{
        font-size: 20px;
    }
    .apply-tit3{
        font-size: 20px;
        margin: 30px 0 90px;
    }
    .apply-tit4{
        font-size: 14px;
        margin-bottom: 120px;
    }
    .cd-timeline-content>.cd-date{
        color: #7a7a7a;
        font-size: 22px;
    }
    .timeline-title{
        font-size: 24px;
    }
    .timeline-num{
        font-size: 20px;
        width: 60px;
        height: 60px;
        line-height: 56px;
        border-width: 2px;
        border-style: solid;
    }
    .timeline-txts{
        padding-top: 5px;
        padding-left: 90px;
    }
    .timeline-txt1,.timeline-txt2,.timeline-txt3,.timeline-txt4{
        font-size: 15px;
        line-height: 26px;
    }
    .timeline-txt2{
        margin: 60px 0;
    }
    .timeline-txt3{
        margin-top: 60px;
    }
    .timeline-txt4{
        padding-bottom: 60px;
    }
    .timeline-txt-red{
        font-size: 16px;
        line-height: 30px;
    }
    .timeline-title,.timeline-num{
        float: left;
    }
    .timeline-title{
        margin-top: 12px;
        margin-right: 16px;
        width: 233px;
    }
    .timeline-tits{
        overflow: hidden;
    }
    .timeline-txts{
        margin-left: 280px;
        margin-top: 10px;
    }
    .timeline-one{
        margin-bottom: 20px;
    }
    .footer{
        margin-top: 170px;
    }
}
@media only screen and (max-width: 1023px) {
    .apply-main{
        width: 94%;
        margin-left: 3%;
    }
    .apply-tit{
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 12px;
    }
    .apply-tit2{
        font-size: 18px;
    }
    .apply-tit3{
        font-size: 18px;
        margin: 20px 0 60px;
    }
    .apply-tit4{
        font-size: 13px;
        margin-bottom: 100px;
    }
    .cd-timeline-content>.cd-date{
        color: #7a7a7a;
        font-size: 18px;
        padding: 10px 0;
    }
    .timeline-num{
        font-size: 18px;
        width: 50px;
        height: 50px;
        line-height: 46px;
        border-width: 2px;
        border-style: solid;
    }
    .timeline-txts{
        padding-top: 5px;
        padding-left: 75px;
    }
    .timeline-txt1,.timeline-txt2,.timeline-txt3,.timeline-txt4{
        font-size: 14px;
        line-height: 24px;
    }
    .timeline-txt2{
        margin: 50px 0;
    }
    .timeline-txt3{
        margin-top: 50px;
    }
    .timeline-txt4{
        padding-bottom: 50px;
    }
    .timeline-txt-red{
        font-size: 15px;
        line-height: 28px;
    }
    .timeline-title,.timeline-num{
        float: left;
    }
    .timeline-title{
        font-size: 20px;
        margin-top: 12px;
        margin-right: 16px;
        width: 194px;
    }
    .timeline-tits{
        overflow: hidden;
    }
    .timeline-txts{
        margin-left: 235px;
        margin-top: 8px;
    }
    .timeline-one{
        margin-bottom: 18px;
    }
    .footer{
        margin-top: 120px;
    }
}
@media only screen and (max-width: 767px) {
    .apply-tit{
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .apply-tit2{
        font-size: 16px;
    }
    .apply-tit3{
        font-size: 16px;
        margin: 15px 0 45px;
    }
    .apply-tit4{
        font-size: 12px;
        margin-bottom: 80px;
    }
    .cd-timeline-content>.cd-date{
        color: #7a7a7a;
        font-size: 16px;
        float: none;
        padding: 6px 0;
    }
    .timeline-tits{
        position: relative;
    }
    .timeline-num{
        font-size: 16px;
        width: 40px;
        height: 40px;
        line-height: 38px;
        border-width: 1px;
        border-style: solid;
        position: relative;
        margin-left: -225px;
    }
    .timeline-txts{
        padding-top: 5px;
        padding-left: 65px;
    }
    .timeline-txt1,.timeline-txt2,.timeline-txt3,.timeline-txt4{
        font-size: 13px;
        line-height: 22px;
    }
    .timeline-txt2{
        margin: 40px 0;
    }
    .timeline-txt3{
        margin-top: 40px;
    }
    .timeline-txt4{
        padding-bottom: 40px;
    }
    .timeline-txt-red{
        font-size: 14px;
        line-height: 26px;
    }
    .timeline-title{
        font-size: 18px;
        margin-top: 8px;
        margin-right: 0;
        margin-left: 50px;
        width: 175px;
    }
    .timeline-tits{
        overflow: hidden;
    }
    .timeline-txts{
        margin-left: 20px;
        margin-top: 6px;
    }
    .timeline-one{
        margin-bottom: 16px;
    }
    .footer{
        margin-top: 90px;
    }
}