.contact-head-img{
    width: 100%;
}
.contact-main{
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
    overflow: hidden;
}
.contact-h1{
    color: #047f8e;
    text-align: center;
}
.contact-h2{
    color: #989898;
    text-align: center;
}
.contact-cell-img{
    display: block;
}
.contact-cell-img{
    width: 100%;
}
.contact-cell-title{
    color: #606062;
    font-size: 1.3em;
    margin: 1.5em 0;
}
.contact-cell-1{
    vertical-align: middle;
}
.contact-cell-2{
    vertical-align: middle;
    color: #999;
    font-size: 0.85em;
    margin-left: 0.2em;
}
.contact-cell-a{
    margin-bottom: 1em;
}
.contact-btn{
    background-color: #df0e24;
    border-radius: 5px;
    color: #fff;
    border: 0;
}
.contact-send{
    color: #747474;
    border-bottom: 1px solid #d6d6d6;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
@media only screen and (min-width: 1024px){
    .contact-head{
        height: 600px;
        overflow: hidden;
    }
    .contact-main{
        font-size: 16px;
    }
    .contact-h1{
        margin: 60px 0 0.625em;
        font-size: 2.125em;
    }
    .contact-h2{
        font-size: 1.25em;
    }
    .container{
        font-size: 1em;
    }
    .content{
        padding: 2em 0 6em;
    }
    .contact-main-right{
        float: right;
        width: 35%;
        margin-left: 4%;
        margin-right: 1%;
        padding-top: 5em;
    }
    .contact-main-left{
        float: left;
        width: 60%;
    }
    .contact-btn{
        font-size: 16px;
        width: 140px;
        height: 44px;
    }
    .contact-send{
        font-size: 16px;
        width: 120px;
        height: 34px;
        margin: 8px 30px 0 0;
    }
}
@media only screen and (min-width: 768px)and (max-width: 1024px){
    .contact-main{
        font-size: 15px;
    }
    .contact-h1{
        margin: 1.6em 0 0.5em;
        font-size: 2em;
    }
    .contact-h2{
        font-size: 1.2em;
    }
    .container{
        font-size: 1em;
    }
    .content{
        padding: 2em 0 5em;
    }
    .contact-main-right{
        float: right;
        width: 35%;
        margin-left: 4%;
        margin-right: 1%;
        padding-top: 7em;
    }
    .contact-main-left{
        float: left;
        width: 60%;
    }
    .contact-btn{
        font-size: 14px;
        width: 120px;
        height: 40px;
    }
    .contact-send{
        font-size: 14px;
        width: 100px;
        height: 30px;
        margin: 8px 26px 0 0;
    }
}
@media only screen and (max-width: 768px){
    .contact-main{
        font-size: 14px;
    }
    .contact-h1{
        margin: 1.6em 0 0.5em;
        font-size: 1.8em;
    }
    .contact-h2{
        width: 80%;
        margin-left: 10%;
        font-size: 1em;
    }
    .container{
        font-size: 1em;
    }
    .content{
        padding: 0 0 4em;
    }
    .contact-main-right{
        width: 90%;
        margin-left: 5%;
        padding-top: 3em;
    }
    .contact-main-left{
        width: 100%;
    }
    .contact-cell-title,.contact-cell-a{
        margin-left: 2%;
    }
    .contact-cell-1{
        width: 1.5em;
    }
    .contact-btn{
        font-size: 12px;
        width: 80px;
        height: 30px;
    }
    .contact-send{
        font-size: 12px;
        width: 60px;
        height: 25px;
        margin: 6px 20px 0 0;
    }
}