html{
    -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.links-left,.links-right{
    display: inline-block;
    vertical-align: middle;
}
.footer-logo>img{
    vertical-align: top;
}
.venus-menu-li-a:hover{
    color: red
}
.links-right>a{
        text-align: center;
}
.footer-bottom{
    color: #9f9f9f;
}
.footer-txt{
    text-align: justify;
}
@media only screen and (min-width: 1024px){
    .footer{
        background-color: #333;
        width: 100%;
    }
    .footer-intro{
        max-width:1024px;
        margin: 0 auto;
    }
    .footer-logo>img{
        height: 180px;
    }
    .footer-txt{
        display: inline-block;
        max-width: 765px;
        font-size: 14px;
        color: #9f9f9f;
        line-height: 26px;
        margin-top: 61px;
    }
    .links{
        max-width: 1024px;
        margin: 0 auto;
        border-top: 2px solid #999;
        border-bottom: 2px solid #999;
    }
    .links-right>a{
        display: inline-block;
        margin: 30px 30px 30px 0;
    }
    .links-right>a>div{
        font-size: 13px;
        color: #9f9f9f;
    }
    .links-right>a>img{
        width: 40px;
        height: 40px;
    }
    .links-left{
        color: #9f9f9f;
        font-size: 14px;
        width: 180px;
        text-align: center;
        line-height: 24px;
    }
    .footer-bottom{
        max-width: 1024px;
        margin: 0 auto;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        text-align: center;
    }
    .fooer-bottom-right{
        margin-right: 20px;
    }
}
@media only screen and (min-width: 768px)and (max-width: 1024px){
    .footer{
        background-color: #333;
        width: 100%;
    }
    .footer-intro{
        width: 100%;
    }
    .footer-logo>img{
        width: 20%;
        height: auto;
        vertical-align: middle;
    }
    .footer-txt{
        display: inline-block;
        width: 70%;
        margin-right: 6%;
        font-size: 14px;
        color: #9f9f9f;
        line-height: 26px;
        vertical-align: middle;
    }
    .links{
        width: 100%;
        border-top: 2px solid #999;
        border-bottom: 2px solid #999;
    }
    .links-right{
        font-size: 14px;
        color: #9f9f9f;
    }
    .links-left{
        color: #9f9f9f;
        font-size: 12px;
        width: 20%;
        text-align: center;
        line-height: 24px;
    }
    .links-right>a{
        display: inline-block;
        margin: 25px 25px 25px 0;
    }
    .links-right>a>div{
        font-size: 12px;
        color: #9f9f9f;
    }
    .links-right>a>img{
        width: 40px;
        height: 40px;
    }
    .footer-bottom{
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 11px;
        text-align: center;
    }
    .fooer-bottom-right{
        margin-right: 20px;
    }
}
@media only screen and (max-width: 767px){
    .footer{
        background-color: #333;
        width: 100%;
    }
    .footer-intro{
        width: 100%;
    }
    .footer-logo>img{
        width: 20%;
    }
    .footer-txt{
        display: inline-block;
        width: 76%;
        font-size: 12px;
        color: #9f9f9f;
        line-height: 20px;
        margin: 3% 0;
    }
    .links{
        width: 100%;
        overflow: hidden;
        border-top: 2px solid #999;
        border-bottom: 2px solid #999;
    }
    .links-right{
        font-size: 12px;
        color: #9f9f9f;
        max-width: 70%;
    }
    .links-left{
        color: #9f9f9f;
        font-size: 12px;
        width: 25%;
        margin: 14px 0;
        text-align: center;
        line-height: 24px;
    }
    .links-right>a{
        display: inline-block;
        margin: 20px 12px 20px 0;
    }
    .links-right>a:last-child{
        margin-right: 0;
    }
    .links-right>a>div{
        font-size: 11px;
        color: #9f9f9f;
    }
    .links-right>a>img{
        width: 24px;
        height: 24px;
    }
    .footer-bottom{
        width: 80%;
        margin-left: 10%;
        padding:7px 0;
        height: 50px;
        line-height: 18px;
        font-size: 10px;
        text-align: center;
    }
    .fooer-bottom-right{
        margin-right: 8px;
    }
}
@media only screen and (max-width: 414px){
    .links-left{
        width: 20%;
        font-size: 10px;
        line-height: 20px;
    }
}
@media only screen and (max-width: 337px){
    .links-left{
        width: 23%;
    }
    .links-right>a {
        margin: 0;
    }
    .footer-bottom{
        width: 100%;
        margin-left: 0;
    }
}