html{
    -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.links-left,.links-right{
    display: inline-block;
    vertical-align: middle;
}
.footer-logo>img{
    vertical-align: top;
}
.venus-menu-li-a:hover{
    color: red
}
.links-right>a{
        text-align: center;
}
@media only screen and (min-width: 1024px){
    .footer{
        background-color: #333;
        width: 100%;
        padding-bottom: 80px;
    }
    .footer-intro{
        max-width:1024px;
        margin: 0 auto;
    }
    .footer-logo>img{
        height: 180px;
    }
    .footer-txt{
        display: inline-block;
        max-width: 765px;
        font-size: 14px;
        color: #9f9f9f;
        line-height: 26px;
        margin-top: 61px;
    }
    .links{
        max-width: 1024px;
        margin: 0 auto;
        border-top: 2px solid #999;
        border-bottom: 2px solid #999;
    }
    .links-right>a{
        display: inline-block;
        font-size: 14px;
        color: #9f9f9f;
        margin: 30px 30px 30px 0;
    }
    .links-right>a>img{
        width: 40px;
        height: 40px;
    }
    .links-left{
        color: #9f9f9f;
        font-size: 14px;
        width: 180px;
        text-align: center;
        line-height: 24px;
    }
    
}
@media only screen and (min-width: 768px)and (max-width: 1024px){
    .footer{
        background-color: #333;
        width: 100%;
        padding-bottom: 60px;
    }
    .footer-intro{
        width: 100%;
    }
    .footer-logo>img{
        width: 20%;
        height: auto;
    }
    .footer-txt{
        display: inline-block;
        width: 60%;
        margin-right: 10%;
        font-size: 14px;
        color: #9f9f9f;
        line-height: 26px;
        margin-top: 30px;
    }
    .links{
        width: 100%;
        height: 88px;
        border-top: 2px solid #999;
        border-bottom: 2px solid #999;
    }
    .links-right{
        font-size: 14px;
        color: #9f9f9f;
        margin-top: 26px;
    }
    .links-left{
        color: #9f9f9f;
        font-size: 12px;
        width: 20%;
        margin-top: 22px;
        text-align: center;
        line-height: 24px;
    }
}
@media only screen and (max-width: 767px){
    .footer{
        background-color: #333;
        width: 100%;
        padding-bottom: 36px;
    }
    .footer-intro{
        width: 100%;
    }
    .footer-logo>img{
        width: 20%;
    }
    .footer-txt{
        display: inline-block;
        width: 76%;
        font-size: 12px;
        color: #9f9f9f;
        line-height: 20px;
        margin-top: 3%;
    }
    .links{
        width: 100%;
        overflow: hidden;
        border-top: 2px solid #999;
        border-bottom: 2px solid #999;
    }
    .links-right{
        font-size: 12px;
        color: #9f9f9f;
        max-width: 70%;
    }
    .links-left{
        color: #9f9f9f;
        font-size: 12px;
        width: 25%;
        margin: 14px 0;
        text-align: center;
        line-height: 24px;
    }
}
@media only screen and (max-width: 414px){
    .links-left{
        width: 20%;
        font-size: 10px;
        line-height: 20px;
    }
}
@media only screen and (max-width: 337px){
    .links-left{
        width: 23%;
    }
}