html{
    background-color: #fff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #3f3f45;
}
.nav,.footer{
    text-align: left;
}
.brand a{
    color: #4e4e4c;
}
.brand a:hover{
    color: #fc6552;
}
.brand span:hover{
    color: #fc6552;
}
.brand .current_page{
    color: #fc6552;
}

.slide__text-link {
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 2.3rem;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}
.slide__text-link:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
    -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    will-change: transform;
}
.slide__text-link:hover:before {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
}
@media only screen and (min-width: 1024px) {
    /* 项目亮点 */
    .item1 {
        display: inline-block;
        width: 100%;
        max-width: 1024px;
        margin-bottom: 50px;
    }
    .item1 img{
        vertical-align:top;
        height: 100%;
        width: 100%;
    }
    .item1 li{
        position:relative;
        float:left;
        width:49%;
        height:300px;
        overflow:hidden;
        cursor:pointer;
    }
    .item1 li:nth-child(1){
        margin-bottom: 10px;
    }
    .item1 li:nth-child(2){
        margin-bottom: 10px;
        margin-left: 10px; 
    }
    .item1 li:nth-child(4){
        margin-left: 10px; 
    }
    .item1 div{
        position:absolute;
        left:0;
        top: 0px;
        /*top:120px;*/
        width:100%;
        height:50px;
        text-align:center;
        background-color: #000;
        filter:alpha(opacity=50); 
        -moz-opacity:0.5; 
        opacity:0.5;
        color:#fff;
        overflow:hidden;
    }
    .item1 p{
        display:none;
        margin:5px auto 0;
        width:100%;
        height: 100%;
        line-height:30px;
        text-align:center;
        /*text-indent:2em;*/
        font-size:18px;
        padding: 20px;
    }
    .item1 h3{
        height: 50px;
        font-size: 20px;
        line-height: 50px;
        font-weight: 700;
        /*text-indent:-10000px;*/
        /*background:url(../images/img1.png) no-repeat 0 -8px;*/
    }

    /* 轮播图 */
    .slide__text {
        position: absolute;
        width: 50%;
        bottom: 15%;
        left: 25%;
        color: #fff;
        -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
        transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
        transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
        transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
        will-change: transform, opacity;
        -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
        opacity: 0;
    }
    .slide__text-desc {
        font-size: 2.8rem;
        margin-bottom: 1.5rem;
        width: auto;
        height: 100%;
        display: inline-block;
        position: relative;
        bottom: 120px;
        border: 3px solid #fff;
        padding: 15px;
    }
    
    /*轮播图
    .brand{
        max-width: 1180px;
        margin: 0 auto;
    }
    .nav-menu{
        height: 100px;
        line-height: 100px;
    }
    .logo>img{
        height: 80px;
        margin: 10px 0;
    }
    .logo{
        float: left;
    }
    .nav-menu{
        float: right;
    }
    .nav-menu>a{
        margin-left: 35px;
        font-size: 18px;
    }
    .nav-menu>span{
        margin-left: 35px;
        font-size: 18px;
    }
    .menu_div{
        width: 122px;
        list-style:none;
        margin:0;
        padding:0;
        z-index:99;
        background-color: #fff;
        opacity: 0;
        display: inline-block;
        float: left;
        position: relative;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
    }
    .menu_div_active{
        opacity: 0.8;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
    }
    .venus-menu{
        margin:30px 0 10px 0;
        width:100%;
        margin:0;
        padding:0;
        position:relative;
        float:left;
        font-family:'Open Sans', sans-serif;
        list-style:none;
        height: 100%;
    }
    .venus-menu-li{
        display:inline-block;
        margin:0;
        padding:0;
        float:left;
        line-height:100px;
        position:relative;
        height: auto;
    }
    .venus-menu-li-a{
        padding:0px 24px;
        font-size:18px;
        color:#777;
        text-decoration:none;
        display:block;
        -webkit-transition:color 0.2s linear;
        -moz-transition:color 0.2s linear;
        -o-transition:color 0.2s linear;
        transition:color 0.2s linear;
    }
    .venus-menu-li:hover > a, .venus-menu-li.active a{
        color: #fc6552;
    }
    .menu_div_li{
        display: inline-block;
        margin: 0;
        padding: 0;
        float: left;
        line-height: 20px;
        position: relative;
        width: 100%;
        height: 40px;
    }
    .menu_div_li_a{
        width:100%;
        color:#fff;
        font-size:14px;
        line-height: 40px;
        height: 100%;
        text-decoration:none;
        display:inline-block;
        float:left;
        clear:both;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -webkit-transition:background 0.2s linear;
        -moz-transition:background 0.2s linear;
        -o-transition:background 0.2s linear;
        transition:background 0.2s linear;
    }*/
    .carousel{
        width: 100%;
        overflow: hidden;
        max-height: 770px;
        position: relative;
    }
    .carousel-txt{
        position: relative;
        top: 420px;
        max-width: 1180px;
        margin: 0 auto;
        font-size: 46px;
        color: #fff;
        font-weight: 100;
    }
    .carousel-txt>div{
        margin-top: 50px;
    }
    .header{
        position: relative;
        width: 100%;
        height: 600px;
    }
    .carousel-dot{
        position: absolute;
        bottom: 30px;
        width: 100%;
        text-align: center;
    }
    .carousel-dot>span{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
    }
    .carousel-dot>span:last-child{
        margin-right: 0;
    }
    .carousel-dot>.current-dot{
        background-color: #ff6350;
    }
    .main{
        text-align: center;
    }
    .main>div{
        margin-top: 60px;
        font-size: 30px;
        color: #027e88;
    }
    .brand-title{
        font-size: 30px;
        margin-bottom: 40px;
    }
    .brand-txt{
        font-size: 18px;
        color: #8c8c8c;
        font-weight: 400;
        line-height: 40px;
    }
    .service-top{
        width: 100%;
        background-color: #fff;
    }
    .service-top .wrap{
        text-align: center;
        padding-top: 30px;
        width: 100%
    }
    .wrap_h1{
        color: ;
        font-size: 30px;
        margin: 60px auto;
    }
    .service{
        max-width: 1180px;
        margin: 100px auto 0;
        background-color: #fff;
        overflow: hidden;
    }
    .service>div{
        float: left;
        width: 50%;
    }
    .service-img>img{
        display: block;
        width: 80%;
        margin: 120px 0 40px 10%;
    }
    .service-title{
        font-size: 30px;
        color: #c8336b;
        margin: 20px 0 45px 5px;
    }
    .service-list{
        font-size: 33px;
        color: #966f36;
        margin-right: 160px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid #f0f0f0;
    }
    .service-list-txt{
        color: #9f9f9f;
        font-size: 18px;
        font-style: italic;
        margin-right: 160px;
        margin-bottom: 24px;
    }
    .service-txt>img{
        cursor: pointer;
    }
    .promotional-box{
        height: auto;
        display: inline-block;
        width: 100%;
    }
    .promotional{
        padding: 20px 30px;
        /*border: 2px solid #fff;*/
        max-width: 1120px;
        margin: 40px auto ;
        text-align: center;
        display: inline-block;
        height: auto;
    }
    .promotional-left{
        width: 50%;
        height: auto;
        display: inline-block;
        float: left;
        height: 300px;
    }
    .promotional-right{
        width: 50%;
        height: 100%;
        height: auto;
        display: inline-block;
        float: left;
    }
    .promotional-right>img{
        width: 100%;
    }
    .promotional-txt{
        width: 100%;
        height: 33%;
        float: left;
        cursor: pointer;
    }
    .inner-box{
        width: 100%;
        height: 100%;
        padding-right: 10px;
        text-align: left;

    }
    .inner-icon{
        width: 60px;
        height: 60px;
        font-size: 26px;
        line-height: 56px;
        text-align: center;
        border: 2px solid #ffd105;
        -webkit-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        transition: all 300ms ease;
        display: inline-block;
        float: left;
        margin-top: 20px
    }
    .inner-icon-active{
        background-color: #ffd105;
        color: #fff;
    }
    .inner-text{
        font-size: 14px;
        color: #777777;
        line-height: 25px;
        width: 445px;
        height: 100%;
        display: inline-block;
        float: left;
        padding: 25px 10px 0px 15px;
    }
    
    /* 项目亮点 */
    
    .highlight{
        height: auto;
        width: 100%;
        display: inline-block;
    }
    .highlight-box{
        height: auto;
        width:100%;
        float:left; 
        text-align: center;
    }
    .highlight-div{
        height:auto;
        max-width:1024px;
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        border: 1px solid #e6e6e6;
    }
    .highlight-left{
        height: auto;
        width: 40%;
        display: inline-block;
        float: left;
        border-right: 1px solid #e6e6e6;
    }
    .highlight-left>ul{
        height: auto;
        width: 100%;
    }
    .li-box{
        height: 50px;
        width: 100%;
        display: inline-block;
        float: left;
        font-size: 16px;
        line-height: 50px;
        border-bottom: 1px solid #e6e6e6; 
        cursor: pointer;
    }
    .li-box-last{
        border-bottom: 0px solid #e6e6e6; 
    }
    .li_mouse{
        background-color: #000;
        color: #fff;
    }
    .highlight-right{
        height: 250px;
        width: 60%;
        display: inline-block;
        float: left;
    }
    .highlight-pt-box{
        height: 100%;
        width: 100%;

    }
    .highlight-pic{
        height: 230px;
        width: 35%;
        display: inline-block;
        float: left;
        margin: 10px 2.5%;
        position: relative;
    }
    .highlight_pic1{
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background: url(../images/b1.jpg);
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
        opacity: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .highlight_pic2{
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background: url(../images/b2.jpg);
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
        opacity: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .highlight_pic3{
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background: url(../images/b3.jpg);
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
        opacity: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .highlight_pic4{
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background: url(../images/b4.jpg);
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
        opacity: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .highlight_pic5{
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background: url(../images/b5.jpg);
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
        opacity: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .pic_active{
        opacity: 1;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
    }
    .highlight-text{
        height: 230px;
        width: 55%;
        display: inline-block;
        float: left;
        margin: 10px 2.5% ;
        position:relative;
    }
    .highlight_text1{
        position: absolute;
        top: 0px;
        height: 90px;
        width: 100%;
        color: #000;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin: 70px auto;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
        opacity: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;

    }
    .highlight_text2{
        position: absolute;
        top: 0px;
        height: 90px;
        width: 100%;
        color: #000;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin: 70px auto;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
        opacity: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .highlight_text3{
        position: absolute;
        top: 0px;
        height: 90px;
        width: 100%;
        color: #000;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin: 30px auto;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
        opacity: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .highlight_text4{
        position: absolute;
        top: 0px;
        height: 90px;
        width: 100%;
        color: #000;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin: 70px auto;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
        opacity: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .highlight_text5{
        position: absolute;
        top: 0px;
        height: 90px;
        width: 100%;
        color: #000;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin: 70px auto;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
        opacity: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .text_active{
        opacity: 1;
        -webkit-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
    }
    .summary{
        max-width: 1180px;
        margin: 0 auto;
    }
    .summary-img{
        overflow: hidden;
        text-align: center;
    }
    .summary-img>div{
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;
        border: 6px solid #cececc;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
        cursor: pointer;
    }
    .summary-img>div:last-child{
        padding-right: 0;
    }
    .summary-img1{
        width: 25%;
    }
    .summary-img2{
        width: 17%;
    }
    .summary-img3{
        width: 17%;
    }
    .ml1{
        margin-left: 1%;
    }
    .mr1{
        margin-right: 1%;
    }
    .summary-img-1{
        background-image: url("../images/img1.jpg");
    }
    .summary-img-2{
        background-image: url("../images/img2.jpg");
    }
    .summary-img-3{
        background-image: url("../images/img3.jpg");
    }
    .summary-img-4{
        background-image: url("../images/img5.jpg");
    }
    .summary-img-5{
        background-image: url("../images/img6.jpg");
    }
    .summary-txt{
        width: 25%;
        margin: 50px auto 140px;
        color: #878787;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    /*轮播图start*/
    .slide__text-desc {
        font-size: 2.8rem;
        margin-bottom: 1.5rem;
        width: 80%;
        height: 100%;
        display: inline-block;
        position: relative;
        /*bottom: 50px;*/
        top: 20px;
        color: #fff;
    }
    .slide__text-link {
        display: none;
    }

    .slide:nth-child(1) .slide__text {
        background-color: rgba(233, 156, 126, 0.8);
    }
    .slide:nth-child(2) .slide__text {
        background-color: rgba(225, 204, 174, 0.8);
    }
    .slide:nth-child(3) .slide__text {
        background-color: rgba(173, 197, 205, 0.8);
    }
    .slide:nth-child(4) .slide__text {
        background-color: rgba(203, 198, 195, 0.8);
    }
    .slide__overlay {
        display: none;
    }
    .slide__text {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10rem;
        text-align: center;
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
        -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        padding: 0 1rem;
    }
    .slide__text-heading {
        line-height: 20rem;
        font-size: 3.5rem;
    }
    .slide__text-desc {
        display: block;
    }
    
    /*轮播图over*/
    /*.brand{
        width: 100%;
        overflow: hidden;
    }
    .nav-menu{
        height: 100px;
        line-height: 100px;
    }
    .logo>img{
        height: 80px;
        margin: 10px 0 10px 40px;
    }
    .logo{
        float: left;
    }
    .nav-menu{
        float: right;
        margin-right: 20px;
    }
    .nav-menu>a{
        margin-left: 35px;
        font-size: 16px;
    }*/
    .carousel{
        width: 100%;
        overflow: hidden;
        max-height: 770px;
    }
    .carousel-txt{
        position: relative;
        top: 390px;
        width: 80%;
        margin-left: 10%;
        font-size: 36px;
        color: #fff;
        font-weight: 100;
    }
    .carousel-txt>div{
        margin-top: 50px;
    }
    .header{
        position: relative;
        width: 100%;
        height: 770px;
    }
    .carousel-dot{
        position: absolute;
        bottom: 30px;
        width: 100%;
        text-align: center;
    }
    .carousel-dot>span{
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
    }
    .carousel-dot>span:last-child{
        margin-right: 0;
    }
    .carousel-dot>.current-dot{
        background-color: #ff6350;
    }
    .main{
        text-align: center;
    }
    .main>div{
        margin-top: 20px;
    }
    .brand-title{
        margin-top: 40px;
        font-size: 36px;
        color: #027e88;
    }
    .brand-txt{
        font-size: 18px;
        color: #8c8c8c;
        font-weight: 400;
        line-height: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .service{
        width: 100%;
        background-color: #fff;
        overflow: hidden;
        margin-top: 70px;
    }
    .service>div{
        float: left;
        width: 50%;
    }
    .service-img>img{
        display: block;
        width: 80%;
        margin: 100px 0 40px 10%;
    }
    .service-title{
        font-size: 32px;
        color: #c8336b;
        margin: 20px 0 28px 5px;
    }
    .service-list{
        font-size: 32px;
        color: #966f36;
        margin-right: 50px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #f0f0f0;
    }
    .service-list-txt{
        color: #9f9f9f;
        font-size: 18px;
        font-style: italic;
        margin-right: 25px;
        margin-bottom: 14px;
    }
    .service-txt>img{
        cursor: pointer;
    }
    .promotional{
        padding: 20px 30px;
        /*border: 2px solid #fff;*/
        width: 100%;
        margin: 56px auto 100px;
        text-align: center;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;
    }
    .promotional>img{
        width: 100%;
    }
    .promotional-txt{
        margin-top: 20px;
        font-size: 26px;
        color: #fd654e;
    }
    .summary{
        width: 100%;
    }
    .summary-img{
        overflow: hidden;
    }
    .summary-img>div{
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;
        border: 6px solid #cececc;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
        cursor: pointer;
    }
    .summary-img>div:last-child{
        padding-right: 0;
    }
    .summary-img1{
        width: 36%;
        margin: 0 3%;
    }
    .summary-img2{
        width: 27%;
    }
    .summary-img>div.summary-img3{
        border: 0;
        padding: 0;
        display: none;
    }
    .summary-img-2{
        margin-left: 2%;
        background-image: url("../images/img2.jpg");
    }
    .summary-img-3{
        background-image: url("../images/img3.jpg");
    }
    .summary-img-4{
        margin-right: 2%;
        background-image: url("../images/img5.jpg");
    }
    .summary-txt{
        width: 35%;
        margin: 48px auto 80px;
        color: #878787;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
    }
}
@media only screen and (max-width: 768px) {
    .header{
        position: relative;
        width: 100%;
        height: 460px;
    }
    /*.brand{
        width: 100%;
        height: auto;
    }
    .logo>img{
        width: 50px;
        position: relative;
    }
    .nav-menu{
        min-width: 50px;
        min-height: 50px;
        margin-right: 10px;
        background: url("../images/pz5.png") no-repeat right top;
        text-align: right;
        position: absolute;
        top: 32px;
        right: 6px;
        padding-top: 46px;
    }
    .nav-menu>a{
        font-size: 16px;
        line-height: 30px;
        display: none;
    }*/
    .carousel{
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .carousel-txt{
        position: absolute;
        bottom: 40px;
        width: 80%;
        margin-left: 10%;
        font-size: 20px;
        color: #fff;
        font-weight: 200;
    }
    .carousel-txt>div{
        margin-top: 16px;
    }
    .header{
        position: relative;
    }
    .carousel-dot{
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .carousel-dot>span{
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
    }
    .carousel-dot>span:last-child{
        margin-right: 0;
    }
    .carousel-dot>.current-dot{
        background-color: #ff6350;
    }
    .main{
        text-align: center;
    }
    .main>div{
        margin-top: 12px;
    }
    .brand-title{
        margin-top: 20px;
        font-size: 20px;
        color: #027e88;
    }
    .brand-txt{
        font-size: 14px;
        color: #8c8c8c;
        font-weight: 400;
        line-height: 24px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .service{
        width: 100%;
        background-color: #fff;
        overflow: hidden;
        margin-top: 40px;
        padding-bottom: 20px;
    }
    .service>div{
        width: 90%;
        margin-left: 5%;
    }
    .service-img>img{
        display: block;
        width: 90%;
        margin: 30px 0 20px 5%;
    }
    .service-title{
        font-size: 20px;
        color: #c8336b;
        margin: 12px 0 12px 5%;
    }
    .service-list{
        font-size: 20px;
        color: #966f36;
        margin-left: 5%;
        width: 90%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #f0f0f0;
    }
    .service-list-txt{
        color: #9f9f9f;
        margin-left: 5%;
        width: 90%;
        font-size: 14px;
        font-style: italic;
        margin-bottom: 14px;
    }
    .service-txt>img{
        cursor: pointer;
        width: 26px;
        position: relative;
        left: 45%;
        margin-left: -17px;
    }
    .service-txt>img:last-child{
        margin-left: 8px;
    }
    .promotional{
        padding: 16px 26px;
        /*border: 2px solid #fff;*/
        width: 100%;
        margin: 38px auto 60px;
        text-align: center;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;
    }
    .promotional>img{
        width: 100%;
    }
    .promotional-txt{
        margin-top: 16px;
        font-size: 16px;
        color: #fd654e;
    }

    .summary{
        width: 100%;
    }
    .summary-img{
        overflow: hidden;
    }
    .summary-img>div{
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;
        border: 4px solid #cececc;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
        cursor: pointer;
    }
    .summary-img>div:last-child{
        padding-right: 0;
    }
    .summary-img1{
        width: 36%;
        margin: 0 3%;
    }
    .summary-img2{
        width: 27%;
    }
    .summary-img>div.summary-img3{
        border: 0;
        padding: 0;
        display: none;
    }
    .summary-img-2{
        margin-left: 2%;
        background-image: url("../images/img2.jpg");
    }
    .summary-img-3{
        background-image: url("../images/img3.jpg");
    }
    .summary-img-4{
        margin-right: 2%;
        background-image: url("../images/img5.jpg");
    }
    .summary-txt{
        width: 50%;
        margin: 25px auto 60px;
        color: #878787;
        font-size: 16px;
        text-align: center;
        font-weight: 400;
    }
}
@media only screen and (max-width: 360px) {
    /*.header{
        position: relative;
        width: 100%;
        height: 400px;
    }
    .logo>img{
        width: 40px;
        margin: 6px 0 8px -20px;
    }
    .nav-menu{
        min-width: 50px;
        min-height: 50px;
        top: 24px;
        padding-top: 46px;
    }*/
    .carousel-txt{
        bottom: 30px;
        width: 80%;
        font-size: 18px;
    }
    .carousel-txt>div{
        margin-top: 16px;
    }
    .links-txt{
        width: 100%;
        margin-top: 14px;
        line-height: 24px;
    }
    .links-left>img{
        width: 80px;
    }
    .links>a{
        margin-top: 15px;
        margin-right: 24px;
    }
    .links-txt+a{
        margin-left: 10px;
    }
    .summary-txt{
        width: 70%;
        margin-bottom: 50px;
    }
}
