.font-bold{
    font-weight: bold;
    color: red;
}
@media only screen and (min-width: 1024px){
    .header-itinerary{
        max-height: 600px;
        overflow: hidden;
    }
    .nav-menu>a{
        margin-left: 35px;
        font-size: 18px;
    }
    .itinerary-title,.price-title{
        font-size: 26px;
        text-align: center;
        margin: 50px 0 40px;
    }
    .itinerary-title>b,.price-title>b{
        padding: 0 9% 16px;
        background: no-repeat url("../images/pz7.png") center bottom/100% auto;
    }
    .itinerary,.price,.payment,.refund{
        max-width: 1024px;
        margin: 0 auto;
        color: #575757;
    }
    .itinerary-txt,.price-txt,.payment-txt,.refund-txt{
        font-size: 16px;
        line-height: 26px;
        color: #232323;
    }
    .itinerary-img{
        width: 100%;
        margin: 25px 0;
    }
    .price-summary{
        font-size: 17px;
        color: #7b7b7b;
        margin-bottom: 8px;
    }
    .price-summary>img{
        margin-right: 8px;
        vertical-align: text-top;
    }
    .price-txt{
        padding-left: 10px;
        margin-top: 12px;
        margin-bottom: 13px;
    }
    .payment-title,.refund-title{
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        margin: 50px 0 30px;
    }
    .payment-title>span,.refund-title>span{
        padding: 0 6% 16px;
        background: no-repeat url("../images/pz12.png") center bottom/100% 2px;
    }
    .refund-title>span{
        padding: 0 3% 12px;
    }
    .empty{
        height: 320px;
    }
}
@media only screen and (min-width: 768px)and (max-width: 1024px){
    .brand{
        width: 100%;
        overflow: hidden;
    }
    /*.nav-menu{
        height: 100px;
        line-height: 100px;
    }*/
    /*.logo>img{
        height: 80px;
        margin: 10px 0 10px 20px;
    }*/
    /*.logo{
        float: left;
    }*/
    .company{
        font-size: 12px;
    }
    /*.nav-menu{
        float: right;
        margin-right: 20px;
        min-width: 390px;
    }*/
    .nav-menu>a{
        margin-left: 4%;
        font-size: 15px;
    }
    .itinerary-title,.price-title{
        font-size: 26px;
        text-align: center;
        margin: 50px 0 40px;
    }
    .itinerary-title>b,.price-title>b{
        padding: 0 9% 16px;
        background: no-repeat url("../images/pz7.png") center bottom/100% auto;
    }
    .itinerary,.price,.payment,.refund{
        margin: 0 5%;
        color: #575757;
    }
    .itinerary-txt,.price-txt,.payment-txt,.refund-txt{
        font-size: 16px;
        line-height: 26px;
        color: #232323;
    }
    .itinerary-img{
        width: 100%;
        margin: 25px 0;
    }
    .price-summary{
        font-size: 17px;
        color: #7b7b7b;
        margin-bottom: 8px;
    }
    .price-summary>img{
        margin-right: 8px;
        vertical-align: text-top;
    }
    .price-txt{
        padding-left: 10px;
        margin-top: 12px;
        margin-bottom: 13px;
    }
    .payment-title,.refund-title{
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        margin: 50px 0 30px;
    }
    .payment-title>span,.refund-title>span{
        padding: 0 6% 16px;
        background: no-repeat url("../images/pz12.png") center bottom/100% 2px;
    }
    .refund-title>span{
        padding: 0 3% 12px;
    }
    .empty{
        height: 200px;
    }
}
@media only screen and (max-width: 768px){
    .brand{
        width: 100%;
        height: auto;
        text-align: center;
    }
    /*.logo>img{
        width: 50px;
        height: auto;
    }*/
    /*.nav-menu{
        min-width: 50px;
        min-height: 50px;
        margin-right: 10px;
        background: url("../images/pz5.png") no-repeat right top;
        text-align: right;
        position: absolute;
        top: 24px;
        right: 6px;
    }*/
    .nav-menu>a{
        font-size: 16px;
        line-height: 30px;
        display: none;
    }
    .company{
        margin: 10px 0 0 20px;
        text-align: left;
        font-size: 12px;
    }
    .itinerary-title,.price-title{
        font-size: 24px;
        text-align: center;
        margin: 50px 0 40px;
    }
    .itinerary-title>b,.price-title>b{
        padding: 0 9% 16px;
        background: no-repeat url("../images/pz7.png") center bottom/100% auto;
    }
    .itinerary,.price,.payment,.refund{
        margin: 0 5%;
        color: #575757;
    }
    .itinerary-txt,.price-txt,.payment-txt,.refund-txt{
        font-size: 14px;
        line-height: 26px;
        color: #232323;
    }
    .itinerary-img{
        width: 100%;
        margin: 25px 0;
    }
    .price-summary{
        font-size: 15px;
        color: #7b7b7b;
        margin-bottom: 8px;
    }
    .price-summary>img{
        margin-right: 8px;
        vertical-align: text-top;
    }
    .price-txt{
        padding-left: 10px;
        margin-top: 12px;
        margin-bottom: 13px;
    }
    .payment-title,.refund-title{
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        margin: 50px 0 30px;
    }
    .payment-title>span,.refund-title>span{
        padding: 0 6% 16px;
        background: no-repeat url("../images/pz12.png") center bottom/100% 2px;
    }
    .refund-title>span{
        padding: 0 3% 12px;
    }
    .empty{
        height: 150px;
    }
}
@media only screen and (max-width: 414px){
    .company{
        display: none;
    }
    .nav-menu{
        top: 17px;
    }
    /*.logo>img{
        width: 40px;
        margin: 6px 0 8px -20px;
    }*/
    .itinerary-title,.price-title{
        font-size: 23px;
        text-align: center;
        margin: 30px 0 35px;
    }
    .itinerary-title>b,.price-title>b{
        padding: 0 9% 16px;
        background: no-repeat url("../images/pz7.png") center bottom/100% auto;
    }
    .itinerary,.price,.payment,.refund{
        margin: 0 5%;
        color: #575757;
    }
    .itinerary-txt,.price-txt,.payment-txt,.refund-txt{
        font-size: 14px;
        line-height: 24px;
        color: #232323;
    }
    .itinerary-img{
        width: 100%;
        margin: 15px 0;
    }
    .price-summary{
        font-size: 15px;
        color: #7b7b7b;
        margin-bottom: 8px;
    }
    .price-summary>img{
        margin-right: 8px;
        vertical-align: text-top;
    }
    .price-txt{
        padding-left: 10px;
        margin-top: 12px;
        margin-bottom: 13px;
    }
    .payment-title,.refund-title{
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        margin: 30px 0 30px;
    }
    .payment-title>span,.refund-title>span{
        padding: 0 6% 16px;
        background: no-repeat url("../images/pz12.png") center bottom/100% 2px;
    }
    .refund-title>span{
        padding: 0 3% 12px;
    }
    .empty{
        height: 120px;
    }
}
@media only screen and (max-width: 360px){
    .itinerary-title,.price-title{
        font-size: 18px;
        text-align: center;
        margin: 25px 0 28px;
    }
    .itinerary-title>b,.price-title>b{
        padding: 0 9% 16px;
        background: no-repeat url("../images/pz7.png") center bottom/100% auto;
    }
    .itinerary-txt,.price-txt,.payment-txt,.refund-txt{
        font-size: 13px;
        line-height: 24px;
        color: #232323;
    }
    .itinerary-img{
        width: 100%;
        margin: 10px 0;
    }
    .price-summary{
        font-size: 14px;
        color: #7b7b7b;
        margin-bottom: 5px;
    }
    .price-summary>img{
        margin-right: 8px;
        width: 16px;
        vertical-align: middle;
        margin-bottom: 3px;
    }
    .price-txt{
        padding-left: 10px;
        margin-top: 6px;
        margin-bottom: 8px;
    }
    .payment-title,.refund-title{
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        margin: 30px 0 30px;
    }
    .payment-title>span,.refund-title>span{
        padding: 0 6% 16px;
        background: no-repeat url("../images/pz12.png") center bottom/100% 2px;
    }
    .refund-title>span{
        padding: 0 3% 12px;
    }
    .empty{
        height: 80px;
    }
}