.header-bigimg>img{
    width: 100%;
    display: block;
}
@media only screen and (min-width: 1024px) {
    .header-bigimg{
        height: 600px;
        overflow: hidden;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px){

}
@media only screen and (max-width: 767px) {

}