.swiper-a{
    background-color: #fe5969;
}
.swiper-b{
    background-color: #17a5d4;
}
.swiper-c{
    background-color: #f6c25d;
}
.whyus-title,.whyus-title2{
    text-align: center;
}
.whyus-title2{
    color: #666;
}
.dropdown-menu .dropdown-anchor::after{
    border-color: #f2f2f2;
}
.dropdown-menu ul{
    background: #f2f2f2;
    color: #666;
}
.whyus-q{
    color: #4f7b24;
}
.content{
    padding: 0;
}
.dropdown-menu .dropdown-anchor::after,.dropdown-menu .dropdown-anchor {
    border-color: #f2f2f2;
}
.footer{
    clear: both;
}
@media only screen and (min-width: 1024px){
    .swiper-container{
        padding-bottom: 100px;
    }
    .swiper-button-next,.swiper-button-prev{
        bottom: 0;
        left: 50%;
    }
    .swiper-button-next{
        margin-right: -58px;
    }
    .swiper-button-prev {
        margin-left: -58px;
    }
    .whyus-title{
        font-size: 42px;
        color: #01818c;
        margin: 60px 0 90px;
    }
    .swiper-container{
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }
    .swiper-slide{
        padding: 30px 20px 40px;
        color: #ffffff;
    }
    .swiper-a1{
        font-size: 20px;
    }
    .swiper-a2{
        font-size: 14px;
        margin-top: 15px;
    }
    .swiper-b1{
        vertical-align: middle;
        margin-right: 20px;
    }
    .whyus-title2{
        font-size: 18px;
        line-height: 30px;
        margin: 50px 0 30px;
    }
    .whyus-main{
        max-width: 1024px;
        margin: 0 auto 110px;
        overflow: hidden;
    }
    .whyus-left{
        width: 57%;
        float: left;
        margin-top: 3em;
        position: relative;
    }
    .whyus-right{
        width: 42%;
        float: right;
    }
    .whyus-q{
        font-size: 16px;
        margin-bottom: 30px;
    }
    .dropdown-menu ul{
        font-size: 14px;
        max-width: 95%;
        padding: 14px 10px 14px 16px;
    }
    .dropdown-menu ul li{
        line-height: 22px;
    }
}
@media only screen and (min-width: 768px)and (max-width: 1024px){
    .swiper-container{
        padding-bottom: 100px;
    }
    .swiper-button-next,.swiper-button-prev{
        bottom: 0;
        left: 50%;
    }
    .swiper-button-next{
        margin-right: -58px;
    }
    .swiper-button-prev {
        margin-left: -58px;
    }
    .whyus-title{
        font-size: 38px;
        color: #01818c;
        margin: 50px 0 70px;
    }
    .swiper-container{
        width: 94%;
        margin-left: 3%;
    }
    .swiper-slide{
        padding: 20px 10px 30px;
        color: #ffffff;
    }
    .swiper-a1{
        font-size: 20px;
    }
    .swiper-a2{
        font-size: 14px;
        margin-top: 15px;
    }
    .swiper-b1{
        vertical-align: middle;
        margin-right: 20px;
    }
    .whyus-title2{
        font-size: 16px;
        line-height: 28px;
        margin: 40px 0 30px;
    }
    .whyus-main{
        width: 96%;
        margin-left: 3%;
    }
    .whyus-left{
        width: 57%;
        float: left;
        margin-top: 2em;
        position: relative;
        padding-bottom: 70px;
    }
    .whyus-right{
        width: 43%;
        float: right;
    }
    .whyus-q{
        font-size: 16px;
        margin-bottom: 26px;
    }
    .dropdown-menu ul{
        font-size: 14px;
        max-width: 95%;
        padding: 14px 10px 14px 16px;
    }
    .dropdown-menu ul li{
        line-height: 22px;
    }
    .content{
        font-size: 20px;
    }
}
@media only screen and (max-width: 767px){
    .swiper-container{
        padding-bottom: 60px;
    }
    .swiper-button-next,.swiper-button-prev{
        bottom: 0;
        left: 50%;
    }
    .swiper-button-next>img,.swiper-button-prev>img{
        width: 30px;
    }
    .swiper-button-next{
        margin-right: -40px;
    }
    .swiper-button-prev {
        margin-left: -40px;
    }
    .whyus-title{
        font-size: 26px;
        color: #01818c;
        margin: 30px 0 50px;
    }
    .swiper-container{
        width: 94%;
        margin-left: 3%;
    }
    .swiper-slide{
        padding: 18px 10px 28px;
        color: #ffffff;
    }
    .swiper-a1{
        font-size: 18px;
    }
    .swiper-a2{
        font-size: 13px;
        margin: 15px 0 0 6px;
    }
    .swiper-b1{
        vertical-align: middle;
        margin-right: 10px;
        height: 46px;
    }
    .whyus-title2{
        width: 90%;
        font-size: 14px;
        line-height: 26px;
        margin: 30px 5%;
    }
    .whyus-left{
        width: 92%;
        margin: 10px 0 20px 6%;
        position: relative;
    }
    .whyus-right{
        width: 100%;
    }
    .whyus-q{
        font-size: 14px;
        margin-bottom: 12px;
        line-height: 18px;
    }
    .dropdown-menu ul{
        font-size: 13px;
        max-width: 95%;
        padding: 11px 10px 11px 12px
    }
    .dropdown-menu ul li{
        line-height: 18px;
    }
    .content{
        font-size: 18px;
        margin-bottom: 60px;
    }
}
